body,td,th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
body {
	margin-top: 0px;
	margin-bottom: 0px;
}
.p_bar {
margin: 1px 0px;
padding: 10px 0 10px 0;
clear: both;
}
.logintext {
	color: #888888;
	font-weight: bold;
}
.logininput {
	height: 16px;
	width: 98px;
	border: 1px solid #CCCCCC;
}
.logininput2 {
	border: 1px solid #CCCCCC;
}
.logintext02 {
	color: #888888;
	font-weight: normal;
}
.p_bar a {
float: left;
padding: 1px 4px;
font-size: 12px;
text-decoration: none;
}
.p_input {
height: 16px;
	width: 40px;
	border: 1px solid #6cc200;
}
.p_curpage {
margin-right:1px;
border: 1px solid #6cc200;
vertical-align: middle;
background-color: #6cc200;
color: #ffffff;
font-weight: bold;
}
.p_total {
background-color: #F5FBFF;
border: 1px solid #86B9D6;
border-right: 0px solid #86B9D6;
font-weight: bold;
}
.p_pages {
background-color: #F5FBFF;
border: 1px solid #86B9D6;
margin-right:1px;
vertical-align: middle;
font-weight: bold;
}
a.banner:link {
	color: #6a6565;
    font-size: 12px;

	text-decoration: none;
}
a.banner:visited {
	color: #6a6565;
    font-size: 12px;
    font-weight: bold;
	text-decoration: none;
}
a.banner:hover {
	color: #f01c20;
    font-weight: bold;
    font-size: 12px;
    text-decoration: underline;

}
a.banner2:link {
	color: #ffffff;
    font-weight: bold;
    font-size: 12px;
	text-decoration: none;
}
a.banner2:visited {
	color: #ffffff;
    font-size: 12px;
    font-weight: bold;
	text-decoration: none;
}
a.banner2:hover {
	color: #ffffff;
    font-weight: bold;
    font-size: 12px;

}
a.banner3:link {
	color: #ffffff;
    font-weight: bold;
    font-size: 12px;
	text-decoration: none;
}
a.banner3:visited {
	color: #ffffff;
    font-size: 12px;
    font-weight: bold;
	text-decoration: none;
}
a.banner4:link {
	color: #9dbe4b;
    font-size: 12px;
	text-decoration: none;
}
a.banner4:visited {
	color: #9dbe4b;
    font-size: 12px;
	text-decoration: none;
}
a.banner4:hover {
	color: #f01c20;
    font-size: 12px;
    text-decoration: underline;

}
a.banner5:link {
	color: #ffffff;
    font-weight: bold;
    font-size: 12px;
	text-decoration: none;
}
a.banner5:visited {
	color: #ffffff;
    font-size: 12px;
    font-weight: bold;
	text-decoration: none;
}
a.banner5:hover {
	color: #ffffff;
    font-weight: bold;
    font-size: 12px;
    text-decoration: underline;

}
a.banner6:link {
	color: #fc6604;
    font-size: 14px;
	text-decoration: underline;
}
a.banner6:visited {
	color: #fc6604;
    font-size: 14px;
	text-decoration: none;
    text-decoration: underline;
}
a.banner6:hover {
	color: #fc6604;
    font-size: 14px;
}
.time {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
}
.navtext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FAFAFA;
}

.nav {
	color: #000000;
}
a.nav:link {
	color: #000000;
	text-decoration: none;
}
a.nav:visited {
	color: #000000;
	text-decoration: none;
}
a.nav:hover {
	color: #FC6408;
	text-decoration: none;
}
a.navtext:link {
	color: #FFFFFF;
	text-decoration: none;
}
a.navtext:visited {
	color: #FFFFFF;
	text-decoration: none;
}
a.navtext:hover {
	color: #FFFFCC;
}

.bottomspan {
	line-height: 20px;
}
.bottom {
	color: #000000;
}
a.bottom:link {
	color: #000000;
	text-decoration: none;
}
a.bottom:visited {
	color: #000000;
}
a.bottom:hover {
	color: #666666;
	text-decoration: none;
}


.focustbborder {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #AAAAAA;
}
.focustext {
	color: #688503;
	text-decoration: none;
}
a.focustext:link {
	color: #688503;
	text-decoration: none;
}
a.focustext:visited {
	color: #688503;
	text-decoration: none;
}
a.focustext:hover {
	color: #688503;
	text-decoration: underline;
}
.focusdot {
	color: #505151;
	text-decoration: none;
}
.focustime {
	font-size: 11px;
	color: #999999;
	text-decoration: none;
}
.questiontbborder {
	border: 1px solid #58cb64;
}
.answerbottomline {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	padding-bottom: 4px;
}
.type {
	color: #FC6604;
	text-decoration: none;
}
.type a:link {
	color: #FC6604;
	text-decoration: none;
}
.type a:visited {
	color: #FC6604;
	text-decoration: none;
}
.type a:hover {
	color: #FC6604;
	text-decoration: none;
}
.answertext {
	font-size: 11px;
	text-decoration: none;
}
.modeltbline {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
a:link {
	color: #505151;
	text-decoration: none;
}
a:visited {
	color: #505151;
	text-decoration: none;
}
a:hover {
	color: #FC6408;
	text-decoration: none;
}
.span_title {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-WEIGHT: bold; FONT-SIZE: 18px; PADDING-BOTTOM: 6px; PADDING-TOP: 6px
}
.modeldotline {
	border-right-width: 1px;
	border-right-style: dotted;
	border-right-color: #C2C2C2;
}
.normal_content {
	CLEAR: left; PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-SIZE: 12px; PADDING-BOTTOM: 6px; COLOR: #000000; LINE-HEIGHT: 20px; PADDING-TOP: 6px
}
